/*-- scss:defaults --*/

// $toc-font-size: 0.5rem;
// $sidebar-font-size: 0.5rem;

/*-- scss:rules --*/

p,
li {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto;
}

ol,
ul {
    padding-left: 1rem !important;
}

video {
    pointer-events: none;
}

.footnote-ref~.footnote-ref :before {
    content: ",";
}

// headings

h1 {
    font-size: 1.3rem;
}

h2 {
    font-size: 1.2rem;
}

h3 {
    font-size: 1.1rem;
    font-weight: bold;
}

h4 {
    font-size: 1rem;
    font-weight: bold;
    font-style: italic;
}

// definition list

dl {
    display: grid;
    grid-template-columns: max-content auto;
    column-gap: 1em;

    dt {
        grid-column-start: 1;
    }

    dd {
        grid-column-start: 2;
    }
}

// SVG animation
.sidebar-logo {
    zoom: 20%;
}